<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="SubSonicManager.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <SubSonicManager.Properties.Settings>
            <setting name="dbServer" serializeAs="String">
                <value>10.19.1.199</value>
            </setting>
            <setting name="dbBase" serializeAs="String">
                <value>AdventureWorks</value>
            </setting>
            <setting name="dbUser" serializeAs="String">
                <value>sa</value>
            </setting>
            <setting name="dbPass" serializeAs="String">
                <value>arch22</value>
            </setting>
        </SubSonicManager.Properties.Settings>
    </userSettings>
</configuration>